@using SuleymanSeyahat.Models.Siniflar
@model List<Blog>



@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<link href="~/web2/css/bootstrap.css" rel='stylesheet' type='text/css' />
<h2>Blog Listesi</h2>
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>BASLIK</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var x in Model)
    {
    <tr>
        <td>@x.ID</td>
        <td>@x.Baslik</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
            <td><a href="#" class="btn btn-warning">Güncelle</a></td>
    </tr>
    }
</table>

<a href="#" class="btn btn-primary">Yeni Blog</a>